/* - - -   overall site rules   - - -  */
body {
    background-color: black;
    border: 1px gray solid;
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 163vh;
    margin: 8px 8px;
    padding: 15px;
    overflow-y: scroll;
}
main {
    height: 155vh;
}
.hide {
    display: none;

}


/*  - - -   logo styles   - - - */
.logo {
    border: 1px gray solid;
    font-size: 3em;
    font-weight: 600;
    margin: 5px 10px 10x 5px;
    padding: 3px;
    transition: color 2s, border 2s;
}
.logo:hover{
    border: 1px solid green;
    color: greenyellow;
    cursor: pointer;
}

/*  - - -     nav styles    - - -  */
.nav  {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content:center;
    margin-top: 5px;
    padding: 6px 0;
}
.nav-item {
    border-radius: 5px;
    margin: 0 10px;
    padding: 3px 15px;
}
.nav-item:hover {
    background-color: azure;
    color:black;
    cursor: pointer;
}

/* - - -   hero styles   - - -  */
.hero {
    align-content: center;
    font-size: 2.5em;
    margin: auto;
    transition: color 2s;
    width: 80%;
}
.hero:hover {
    color: greenyellow;
    cursor: pointer;
}


/*  - - -   about styles   - - -  */



/* - - - -     image styles    - - - - */
.rj-image {
    border: 1px solid greenyellow;
    border-radius: 50%;
    width: 25%;
    transition: border 2s .25s, width 2s .25s;
}
.rj-image:hover {
    border: 3px solid greenyellow;
    width: 25%;
}


/*  - - -   project styles   - - -  */
.projects {
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
    display: flex;
    flex-direction: column;
}
.project-hdr {
    background-color: gray;
    color: greenyellow;
    margin: 25px 0 25px 0;
    padding: 5px 5px 5px 10px;
    width: 98%;
}
.card-container {
    align-content: center;
    gap: 10px;
    justify-content: center;
    padding: 10px 0 10px 0;
    display: flex;
}
.card {
    border: 1px darkgray solid;
    border-radius: 8px;
    height: 400px;
    padding: 10px;
    width: 280px;
}
.project-label p {
    color: gray;
    font-size: 4em;

}

/* - - - -    contact styles   - - - -  */
.conact-me-hdr {
    background-color: gray;
    color: greenyellow;
    margin: 25px 0 25px 0;
    padding: 5px 5px 5px 10px;
    width: 98%;
}

.contact .contact-form fieldset {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
}
.contact-form fieldset input {
    height: 40px;
    height: 33px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 60%;
} 
.contact-form fieldset textarea {
    height: 40px;
    height: 100px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 60%;
} 
.contact-form fieldset, #send {
    font-size: 1.2em;
    margin: auto;
    width: 62%;
}

/*  - - - -    footer styles   - - - -  */
footer {
    align-content: space-evenly;
    border-top: .5px gray solid;
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    margin: 50px 0 100px 0;
    padding: 8px 0;
}
footer span {
    margin: 0 10px;
}
footer span a {
    color: gray;
}